* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

:root {
  /* --primary: #ddd;
  --dark: #333;
  --light: #fff;
  --shadow: 0 1px 5px rgba(104, 104, 104, 0.8); */
}

.fixed-width {
  margin: 0 auto;
  max-width: 1280px;
}

.header-background {
  background: white;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

.header-background header {
  padding: 1rem 0;
  display: flex;
}

header::after {
  content: '';
  clear: both;
  display: table;
}

header .logo-container {
  margin-right: auto;
  display: flex;
  align-items: center;
}

header nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

header nav ul a {
  color: white;
}

header nav ul a:hover {
  text-decoration: none;
  color: white;
}

header .login-btn {
  padding:  .3rem 1.2rem;
  cursor: pointer;
  border: none;
  text-transform: uppercase;
  background-color: #64B5F6;
  border-radius: 2px;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  text-decoration: none;
}

/* /HEADER */

/* Jummbo */

 .jumbo-container {
  padding: 250px 0;
  background: url("images/bg.jpg") no-repeat ;
  background-size: cover;
  text-align: center;
  color: white;
  margin-top: 0.25rem;
}

.jumbo-container button {
  border: none;
  background-color: #ff8f00;
  cursor: pointer;
  border-radius: 2px;
  padding: 0 2rem;
  height: 36px;
  line-height: 36px;
  color: white;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

.jumbo-container button a {
  color: white;
  text-decoration: none;
  outline: none;
}

.jumbo-container .filter {

}

/* /Jumbo */

/* About us */

/* .about-us-container {
  background: #29b6f6;
  display: grid;

  grid-template-areas:
  'left-box right-box';
    grid-gap: 20px;
} */

.about-us-container {
    background: #29b6f6;
    color: white;
}

.about-us-container .about-us {
  display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(2, 1fr);
    padding: 3rem;
}
.about-us-container .about-us .social-media {
  text-align: center;
}

/* /About us */

footer {
  /* background: rgba(51, 51, 51, 0.08); */
  background-color: #2AACE7;
  text-align: center;
  padding: 15px 0;
  color: #BFE6F8;
}

/* Request */
.request-page {
  display: grid;
  /* grid-gap: 10px; */
  grid-template-areas:
  'map top-box-b'
  'map top-box-a';
  /* width: 100vw; */
  margin: 0 auto;
  width: 1280px;
  /* padding: 1rem; */
}

.map-area {
  grid-area: map;
  /* min-height: 400px; */
}

.map-container {
  /* flex-grow: 1; */
}

.top-box {
  display: grid;
  align-items: center;
  justify-content: center;
  padding: 1.5rem;

}

.top-box-a {
  grid-area: top-box-a;
}

.top-box-b {
  grid-area: top-box-b;
  padding-top: 30px;
}

.request-page .map-area {
  text-align: center;
}

.request-page .map-area h1 {
  color: #03a9f4;
}

.haven-info-container  {
  /* border: 1px solid red; */
}

.haven-info-container .next-btn {
  text-align: center;
  margin-bottom: 3rem;
}

.haven-info-container button {
  height: 36px;
  line-height: 36px;
  padding: 0 2rem;
  border-radius: 2px;
  border: none;
  color: #fff;
  background-color: #26a69a;
  -webkit-transition: .2s ease-out;
  transition: .2s ease-out;
  cursor: pointer;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

.haven-info {
  margin-bottom: 3rem;
}

.haven-info label {
  display: block;
  font-size: .8rem;
}

.haven-info select {
  width: 100%;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid grey;
  background: none;
  outline: none;
}

/* /Request */

/* RequestScript */
.request-script-page .script-container {
  padding: 1rem 0;
}

.request-script-page .script-container h1 {
  text-align: center;
  font-size: 1.6rem;
}

.request-script-page .request-methods {
  margin-bottom: 3rem;
  text-align: center;
}

.request-script-page .request-methods h4 {
  color:  #03a9f4;
}

.request-script-page .request-methods .contacts-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap:  0 20rem;
  padding: 0 5rem;
}

.request-script-page .request-methods .contacts-container button {
  height: 36px;
  line-height: 36px;
  padding: 0 2rem;
  border-radius: 2px;
  border: none;
  color: #fff;
  background-color: #26a69a;
  -webkit-transition: .2s ease-out;
  transition: .2s ease-out;
  cursor: pointer;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
}

/* /RequestScript */

/* AdminView */

.admin-view-page  {
  padding: 1rem 0;
}

.admin-view-page h5 {
  text-align: center;
  font-size: 1.6rem;
}

.admin-view-page  .requests-display table {
  width: 100%;
  display: table;
  /* border: 1px solid red; */
}

.admin-view-page  .requests-display table .center {
  text-align: center;
}

.admin-view-page .requests-display table th {
  padding: 15px 5px;
  display: table-cell;
  text-align: left;
  vertical-align: middle;
  border-radius: 2px;
  font-weight: bold;
}

.admin-view-page  .requests-display table .right {
  text-align: right;
}

.admin-view-page  .requests-display table .right .btn {
  height: 36px;
  line-height: 36px;
  padding: 0 2rem;
  border-radius: 2px;
  border: none;
  color: #fff;
  background-color: #26a69a;
  -webkit-transition: .2s ease-out;
  transition: .2s ease-out;
  cursor: pointer;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
}

/* /AdminView */

@media (max-width: 700px) {
  .request-page {
    grid-template-areas:
    'map'
    'top-box-b'
    'top-box-a';
  }
  .top-box-a {
    /* grid-template-columns: 1fr */
  }
  .top-box-b {
    /* grid-template-columns: 1fr */
  }

}
