*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

/* css variables */
:root {
  --primary-blue: #64B5F6;
  --secondary-blue: #03a9f4;
  --btn-padding: .3rem 1.2rem;
  --box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  --heading-font-size: 3rem;
  --p-font-size: 2rem;
  --a-font-size: 1.7rem;
  --grey-border: 1px solid lightGrey;
}

/* google translate styles */
.goog-te-menu-value span {
  text-decoration: none;
  font-size: 1.5rem;
}

/* fixed-width/height */
.fixed-width {
  margin: 0 auto;
  max-width: 1280px;
}

.fixed-width.fixed-height {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto 1fr auto;
  grid-template-rows: auto 1fr auto;
}

/*  Login/Logout modal */
.nav {
  font-size: 2.7rem;
}

.tab-content {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 5rem 10rem;
  background-color: white;
  -webkit-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  font-size: 2rem;
}

.tab-content input {
  font-size: 1.5rem;
}

.tab-content .register-tab {
  padding: 2rem;
  border: var(--grey-border);
}

.tab-content .register-tab Button {
  padding: var(--btn-padding);
  font-size: var(--a-font-size);
  border: none;
}

.tab-content .login-tab .card-body Input {
  margin: 0;
}

.tab-content .login-tab input:nth-child(2) {
  margin-bottom: 1rem;
}

.tab-content .login-tab .card-body {
  padding: 2rem;
}

.tab-content .login-tab label {
  margin: 0;
}

.tab-content .login-tab .card-body .forgot-password-inquiry {
  display: block;
  font-size: 1.4rem;
  color: var(--secondary-blue);
}

.tab-content .login-tab button {
  padding: var(--btn-padding);
  font-size: var(--a-font-size);
  border: none;
}

.tab-content Button:hover {
  background-color: var(--primary-blue);
  color: white;
}

.sign-up-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 1rem;
  border-top: var(--grey-border);
}

.login-footer {
  border-top: var(--grey-border);
  margin-top: 1rem;
  padding-top: 1rem;
}

.login-footer button {
  width: 100%;
}

.login-footer input {
  width: 100%;
  font-size: 1.7rem;
}

.login-footer input:hover {
  background-color: var(--primary-blue);
  color: white;
}

.nav-tabs .nav-link.active {
  color: var(--secondary-blue) !important;
}

.forgot-password-tab span {
  color: var(--secondary-blue);
  padding: .5rem;
  cursor: pointer;
}

/*  /Login/Logout modal */

.header-background {
  background: white;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

.header-background header {
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.icon:hover {
  opacity: .5
}

.icon-wrap {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.icon-title {
  opacity: 1;
  font-size: 1.5rem;
}

header .logo-container {
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

header nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

header nav a:hover {
  text-decoration: none;
}

header .login-btn {
  padding: var(--btn-padding);
  cursor: pointer;
  border: none;
  background-color: var(--primary-blue);
  border-radius: 2px;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  box-shadow: var(--box-shadow);
  text-decoration: none;
  color: white;
  font-size: 1.8rem;
}

/*  logged-in drop-down menu styling on bootstrap class */
header .menu .btn-secondary.dropdown-toggle {
  background-color: var(--primary-blue);
  -webkit-box-shadow: var(--box-shadow);
  box-shadow: var(--box-shadow);
  border: none;
  font-size: 1.8rem;
  padding: 1rem 3rem;
}

header .menu-item  {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: var(--btn-padding);
}

header .menu-item > * {
  font-size: 3rem;
  color: var(--secondary-blue);
}

header .menu-item:hover {
  color: white;
  background-color: var(--primary-blue);
}

header .menu-item:hover a {
  color: white;
  background-color: var(--primary-blue);
}

header .menu .btn-secondary.dropdown-toggle:active {
  background-color: var(--primary-blue);
  border: 1px solid var(--secondary-blue);
}

header .menu .logout-btn {
  cursor: pointer;
  font-size: 3rem;
  color: var(--secondary-blue);
}

header .menu .logout-btn:hover {
  color: white;
}

.menu-mobile {
  display: none;
}

/* /HEADER */

/* Jummbo */
.jumbo-container {
  padding: 25rem 0;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3))), url("images/bg.jpg") no-repeat center center;
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.3)), url("images/bg.jpg") no-repeat center center;
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0.3)), url("images/bg.jpg") no-repeat center center;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3)), url("images/bg.jpg") no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
  text-align: center;
  color: white;
  margin-top: 0.25rem;
}

.jumbo-container .jumbo-blurb{
  font-size: 6rem;
}

.jumbo-container button {
  border: none;
  background-color: #FF9B00;
  cursor: pointer;
  border-radius: 2px;
  padding: 1rem 2rem;
  color: white;
  font-weight: bold;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  font-size: 2rem;
}

/* /Jummbo */

/* About us */
.about-us-container {
  margin-top: auto;
  background: #29b6f6;
  color: white;
}

.about-us-container h1 {
  font-size: var(--heading-font-size);
}

.about-us-container .about-us {
  text-align: center;
  padding: 1rem;
  font-size: var(--p-font-size);
}

.about-us-container .about-us .social-media {
  text-align: center;
}

.about-us-container .about-us .social-media .fab {
  font-size: 2.5rem;
  cursor: pointer;
}

/* /About us */

/* Request */
.request-page {
  display: -ms-grid;
  display: grid;
  grid-template-areas:
  'top-box-a map map '
  'top-box-b map map';
  padding: 1rem 0;
}

.request-page .map-area {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: map;
}

.map-area .style {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (minmax(800px, 1fr))[auto-fit];
  grid-template-rows: repeat(auto-fit, minmax(800px, 1fr));
}

.top-box p {
  margin: 0;
  padding: .5rem;
}

.top-box select {
  width: 100%;
  border: none;
  padding: 10px;
}

.top-box-a {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: top-box-a;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  justify-items: center;
}

.top-box-a h1 {
  color: var(--secondary-blue);
  margin-bottom: 1rem;
}

.top-box-a .icons-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(min-content, 33%))[auto-fit];
  grid-template-columns: repeat(auto-fit, minmax(-webkit-min-content, 33%));
  grid-template-columns: repeat(auto-fit, minmax(min-content, 33%));
  width: 100%;
  padding-bottom: 1.5rem;
  border-bottom: var(--grey-border);
}

.top-box-a img {
  width: 100px;
}

.top-box-b {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: top-box-b;
  display: -ms-grid;
  display: grid;
  justify-items: center;
  margin-top: 1.5rem;
}

.top-box-b p {
  margin: 1.5rem 0;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: var(--p-font-size);
}

.top-box-b h1 {
  color: var(--secondary-blue);
  margin: 0;
}

.request-page .map-area h1 {
  text-align: center;
  color: var(--secondary-blue);
  margin-bottom: 1rem;
}

.top-box-b select{
  font-size: 1.7rem;
}

.top-box-b .submit-btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 1rem;
  margin: 1.5rem 0;
}

.top-box-b .submit-btn-container button {
  padding: var(--btn-padding);
  cursor: pointer;
  border: none;
  background-color: var(--primary-blue);
  border-radius: 2px;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  box-shadow: var(--box-shadow);
  text-decoration: none;
  color: white;
  font-size: 2rem;
  text-align: center;
}

/* /Request */

/* Tables */

.admin-view-page  {
  padding: 1rem 0;
}

.admin-view-page .requests-display h1 {
  text-align: center;
  font-size: var(--heading-font-size);
  color: var(--primary-blue);
}

table {
  width: 100%;
  display: table;
}

table .center {
  text-align: center;
}

table th {
  padding: 2rem;
  border-radius: 2px;
  font-weight: bold;
  font-size: 2rem;
}

table td{
  border: 1px solid silver;
  padding: 2rem;
  font-size: var(--p-font-size);
  vertical-align: middle;
}

table td a {
  color: var(--secondary-blue);
}

table .right {
  text-align: center;
}

table .right .btn {
  height: 36px;
  line-height: 36px;
  padding: 0 2rem;
  border-radius: 2px;
  border: none;
  color: #fff;
  background-color: #26a69a;
  -webkit-transition: .2s ease-out;
  -o-transition: .2s ease-out;
  transition: .2s ease-out;
  cursor: pointer;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
}

/* service providers table  */
.service-providers-container  {
  padding: 1rem 0;
}

.service-providers-container h1 {
  text-align: center;
  font-size: var(--heading-font-size);
  color: var(--primary-blue);
}

/* /Tables */

/* header modal */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .7);
}

.landing-page-modals {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 20rem;
  background-color: white;
  -webkit-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  border: 4px solid silver;
  text-align: center;
}

.landing-page-modals .form-group Label, a {
  font-size: 2.5rem;
  color: var(--secondary-blue);
}

.landing-page-modals .form-group Input {
  font-size: 2rem;
  padding: 1rem;
}

.landing-page-modals .form-group input[type=submit]:hover {
  color: white;
  background-color: var(--primary-blue);
  cursor: pointer;
}

.landing-page-modals .form-group  a {
  color: var(--secondary-blue);
  text-decoration: none;
}

.landing-page-modals .form-group .invalid-zip {
  color: red;
  display: block;
  font-size: var(--p-font-size);
}

/* thank you modal coming from request page  */

.landing-page-modals .form-group .thanks-btn {
  background-color: white;
  border: var(--grey-border);
  font-size: 1.8rem;
  padding: 1rem 3rem;
  width: 30rem;
  margin-top: 1rem;
  cursor: pointer;
}

.landing-page-modals .form-group .thanks-btn:hover {
  background-color: var(--primary-blue);
  box-shadow: var(--box-shadow);
  -webkit-box-shadow: var(--box-shadow);
}

/* request modal */
.modal-styles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 700px;
  background-color: white;
  -webkit-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  width: 1000px;
  border: 1px solid silver;
  border-radius: 5px;
  z-index: -1;
}

.modal-styles .modal-content h1, h2 {
  font-size: 3rem;
}

.modal-styles .modal-content {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 2rem;
}

.modal-styles .close-button {
  position: absolute;
  right: -20px;
  top: -25px;
  font-size: 3rem;
  border-radius: 5px;
  background: none;
  border: none;
  cursor: pointer;
  color: var(--primary-blue);
}

.modal-styles .modal-content input {
  margin-top: 1rem;
}

.modal-styles .modal-content button:not(.close-button) {
  border: 1px solid #777;
  width: 200px;
  padding: 1.5rem;
  background: transparent;
  margin-top: 1rem;
}

.modal-styles .modal-content button:not(.close-button):hover {
  background-color: var(--primary-blue);
}

/* Chart styles */

.services-chart-container {
  padding: 2rem;
}

.services-chart-container h1 {
  color: var(--secondary-blue);
  font-size: var(--heading-font-size);
}

.chart {
  margin: 0 0 1rem 0;
}

.chart > * {
  border: var(--grey-border);
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

.chart-data-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(55rem, 1fr))[auto-fit];
  grid-template-columns: repeat(auto-fit, minmax(55rem, 1fr));
  grid-gap: 1rem;
}

.chart-data-container .chart {
  margin-right: 0;
}

.chart-data-container .chart:nth-child(1){
  margin-right: 0;
}

.chart-data-container .chart:nth-child(3){
  margin-bottom: 0;
}

.demographic-data-container .chart  {
  width: 70%;
  margin: 0 auto;
  padding: 2rem 0;
}

/* demographic-graph  */
.demographic-graph {
  padding: 1rem;
}

.demographic-graph label {
  font-size: var(--p-font-size);
  vertical-align: middle;
}

.demographic-graph select {
  border: none;
  padding: 1rem;
  width: 14rem;
  margin: 0 1.5rem;
}

.demographic-graph option {
  font-size: 2rem;
}

/* Edit Profile styles  */

.edit-profile-container {
  padding: 1rem 0;
  border: var(--grey-border);
  font-size: 2rem;
  text-align: center;
  margin: 0 auto;
  width: 100rem;
}

.edit-profile-container > * :not(h1):not([type="submit"]){
  margin-top: 1rem;
}

.edit-profile-container h1 {
  color: var(--primary-blue);
  font-size: var(--heading-font-size);
}

.edit-profile-container input[type=submit] {
  padding: var(--btn-padding);
  font-size: var(--a-font-size);
  margin: 1.5rem auto;
  width: 30rem;
}

.edit-profile-container input[type=submit]:hover {
  color: white;
  background-color: var(--secondary-blue);
}

.edit-profile-container input {
  font-size: 1.7rem;
  margin: 0 auto;
  width: 70rem;
}

/* Footer */
footer {
  background-color: #2AACE7;
  text-align: center;
  padding: 1.4rem 0;
  color: #BFE6F8;
  font-size: 2rem;
}
/* /Footer */

/* Media Queries */
@media only screen and (max-width: 1250px) and (min-width: 901px)  {
  .global-padding {
    padding: 0 2rem;
  }
}

@media (max-width: 900px) {
  .fixed-width.fixed-height {
    height: auto;
  }
  .header-background header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  ul.nav.nav-tabs {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    white-space: nowrap;
  }
  .header-background header .logo-container {
    margin: 0 0 .5rem 0;
  }

  header .menu {
    display: none;
  }

  .menu-mobile {
    display: block;
    margin-top: .5rem;
    font-size: 3.5vw;
  }

  header .menu-mobile .btn-secondary.dropdown-toggle {
    background-color: var(--primary-blue);
    -webkit-box-shadow: var(--box-shadow);
    box-shadow: var(--box-shadow);
    border: none;
    font-size: 1.8rem;
    padding: 1rem 3rem;
    width: 17rem;
  }
  header .menu-mobile .logout-btn {
    cursor: pointer;
    font-size: 3rem;
    color: var(--secondary-blue);
  }

  header .menu-mobile .logout-btn:hover {
    color: white;
  }
  header .menu-mobile .btn-secondary.dropdown-toggle:active {
    background-color: var(--primary-blue);
    border: 1px solid var(--secondary-blue);
  }
  .jumbo-container {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3))), url(/static/media/bg.3f2d836a.jpg) no-repeat top center;
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.3)), url(/static/media/bg.3f2d836a.jpg) no-repeat center center;
    background: -o-linear-gradient(top, rgba(0, 0, 0, 0.3)), url(/static/media/bg.3f2d836a.jpg) no-repeat center center;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3))), url(/static/media/bg.3f2d836a.jpg) no-repeat center center;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3)), url(/static/media/bg.3f2d836a.jpg) no-repeat center center;
    background-size: cover;
    text-align: center;
    color: white;
    height: 50rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .jumbo-container .jumbo-blurb{
    font-size: 9vw;
  }
  .request-page {
    grid-template-areas:
    'top-box-a'
    'map'
    'top-box-b';
  }
  .top-box-a h1 {
    margin: 2rem 0;
  }
  .request-page .map-area h1 {
    margin: 2rem 0;
  }
  .map-area .style {
    -ms-grid-rows: (minmax(600px, 1fr))[auto-fit];
    grid-template-rows: repeat(auto-fit, minmax(600px, 1fr));
  }
  .top-box-b h1 {
    margin: 2rem 0;
  }
  .request-page .top-box-b .submit-btn-container {
    padding-top: 1rem;
  }
  .admin-view-page .request-page {
    padding: 0 2rem;
  }
  /* request modal */
  .modal-styles .modal-content h1, h2 {
    margin: .5rem 10rem;
    padding: 0 25rem;
    text-align: center;
  }
  .services-chart-container {
    padding: 2rem 0;
  }
  .demographic-data-container .chart {
    min-width: 100%;
    padding: 1rem;
  }
  .demographic-graph label, .demographic-graph select{
    display: block;
    margin: 1rem 0;
    width: 100%;
  }
  .edit-profile-container {
    margin: auto;
    width: auto;
  }
  .edit-profile-container input[type=submit] {
    width: 15rem;
  }
  .edit-profile-container input {
    width: auto;
  }
  .landing-page-modals  {
    padding: 10rem;
  }
  .landing-page-modals .form-group .thanks-btn  {
    width: 20rem;
  }
}

@media screen and (max-width: 40rem){
  .responsiveTable td.pivoted .total-num{
    margin-left: 9rem;
  }
   table td a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
   Table .center {
    text-align: center;
  }
  .responsiveTable tbody tr {
    border: var(--grey-border) !important;
  }
}

@media screen and (max-width: 399px){
  .admin-view-page a {
    margin-left: 3rem;
    text-align: center;
  }
}

@media print {
  .goog-te-menu-value {
    display: none;
  }
  .header-background {
    display: none;
  }
  .about-us-container {
    display: none;
  }
  .services-chart-container .chart-data-container {
    display: block;
    margin: 0 auto;
    width: 70rem;
  }
  .chart {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}
